{% extends "user_app/base.html" %}

{% load has_permission_filter %}

{% block content%}

<div class="row">
    <div class="col-xs-10">
        <div class="pull-right">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}  <a href="{% url 'user_app:logout' %}">[logout]</a></p>
                <p>Hub:
                {% for hub in user.coworkuser.hubs.all %}
                    {{ hub.location }}
                {% endfor %}
                </p>
            {% else %}
                <p>Welcome, Guest <a href="{% url 'user_app:login' %}">[login]</a></p>
            {% endif %}
        </div>
    </div>
</div>

<div class="center-block">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Location</th>
                        <th>Permission for User Model</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td scope="row">{{ u.id }}</td>
                        <td>{{ u.username }}</td>
                        <td>
                        {% for hub in u.coworkuser.hubs.all %}
                            {{ hub.location }}
                        {% endfor %}
                        </td>
                        <td class="allow">
                            <span class={% has_location_perm user 'user_app.view_coworkuser' u %}>
                                View
                            </span>
                            |
                             <span class={% has_location_perm user 'user_app.add_coworkuser' u %}>
                                Add
                            </span>
                            |
                             <span class={% has_location_perm user 'user_app.edit_coworkuser' u %}>
                                Update
                            </span>
                            |
                             <span class={% has_location_perm user 'user_app.delete_coworkuser' u %}>
                                Delete
                            </span>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
